.field{
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    float: left;
    box-sizing: border-box;
}
.cell{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    box-sizing: border-box;
    background: white;
}
.time{
    clear: both;
}